@use '../../components/home/home-section' as home;

.terms-of-service-page {
  width: 100%;
  margin-top: calc(-1 * var(--header-height));
  font-size: var(--text-base);
  line-height: 1.5;
}

.terms-of-service-main {
  flex: 1;
  padding-top: var(--space-16);
  padding-bottom: var(--space-16);
  background: var(--searn-color-page-background);
}

.terms-of-service-main__container {
  @include home.home-section-container;

  max-width: 48rem;
}
